<nav class="navbar navbar-light bg-light navbar-expand-md border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold" href="/listings">Home</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="form-inline d-flex my-3 my-md-0" role="search" id="Form-search">
        <input class="form-control me-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <ul class="navbar-nav align-items-md-center gap-2 ms-md-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add New Listing</a>
        </li>
        <% if(!currUser) { %>
          <li class="nav-item">
            <a href="/signup" class="nav-link nav-action-link">Sign up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link nav-action-link">Log in</a>
          </li>
        <% } %>
        <% if(currUser) { %>
          <li class="nav-item">
            <a href="/logout" class="nav-link nav-action-link">Log Out</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>